body {
  margin: 0;
  margin-top: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
table {
  border: 1px solid;
  text-align: center;
}
h1 {
  font-weight: 800;
}
h2 {
  font-weight: 600;
}

main {
  flex: 1;
  min-height: 58vh;
}
.container {
  margin-bottom: 10px;
}
.pagination {
  justify-content: center;
  color: #03ffff;
}
.navname {
  font-size: large;
  color: #fff;
  padding: 3px;
  align-self: center;
}

.logo {
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}
.row-cont {
  align-items: center;
  justify-content: center;
}
.searchbox {
  width: 100%;
  padding-left: 50px;
}

.search-container {
  width: 100%;
}
.site-container {
  min-height: 100vh;
}
.text-container {
  padding: 20px;
  text-align: center;
}

.btn-primary,
.btn-outline-primary {
  background-color: #fff;
  color: #000000;
  border-width: 3px;
  border-color: #03ffff;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #03ffff;
  color: #000000;
  border-width: 3px;
  border-color: #03ffff;
}

.btn-secondary,
.btn-outline-secondary {
  background-color: #fff;
  color: #000000;
  border-width: 1px;
  border-color: #03ffff;
}

.btn-secondary:hover,
.btn-outline-secondary:hover {
  background-color: #03ffff;
  color: #000000;
  border-width: 1px;
  border-color: #03ffff;
}
.box {
  border-style: solid;
  text-align: center;
  border-radius: 10px;
  border-color: #404040;
  padding: 10px;
  height: 100px;
}
.box i {
  font-size: 80px;
  color: #03ffff;
}
.box strong {
  font-size: 25px;
}
.fprod {
  text-align: center;
  padding: 10px;
  font-style: oblique;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.img-thumbnail {
  height: 80px;
}
.user-image {
  height: 100px;
  width: 100px;
  border-radius: 130px;
}

.reviews-container {
  text-align: left;
  justify-content: left;
  padding: 20px;
}
.review-container {
  text-align: left;
  justify-content: left;
  padding: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #03ffff;
}
.small-container {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 90px;
}
.incontainer {
  justify-content: center;
  height: 100%;
  width: 100%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 50px;
  border-radius: 60px;
  background-color: white;
}
.med-container {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}
.inmedcontainer {
  justify-content: center;
  height: 100%;
  width: 80%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding: 50px;
  border-radius: 60px;
  background-color: white;
}
.formcheck {
  width: 200px;
  text-align: left;
}
.forminput {
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #03ffff;
  text-align: center;
  border: none;
  outline: none;
  background-color: #fff;
}
.button {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  box-shadow: inset 0px 0px 25px 0px #a0a0a0;
  border: none;
  outline: none;
  background-color: #fff;
  font-weight: 800;
}
.button:hover {
  width: 310px;
  height: 50px;
  border-radius: 60px;
  background-color: #03ffff;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}

.footer-container {
  background-color: #404040 !important;
  color: #fff !important;
  padding: 30px 0 !important;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.footer {
  background-color: #404040 !important;
  color: #fff !important;
  padding: 30px 30px 0px 30px !important;
  justify-content: center;
  width: 100%;
}
.footer-box h6 {
  color: #03ffff;
  font-weight: 600;
  font-size: x-large;
}
.footer-box p {
  color: #fff;
  text-align: left;
}
.footer-box i {
  color: #03ffff;
  font-weight: 600;
  font-size: x-large;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}
